/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Container principal */
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Barra lateral */
.sidebar {
    width: 15%; /* Ajuste da largura da barra lateral */
    background-color: #1e1e1e;
    padding: 10px;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar button {
    color: #fff; /* Texto branco */
    background: none;
    border: none;
    padding: 8px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.sidebar button:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Classe para destacar o item ativo na lista lateral */
.active-site {
    background-color: #0055ff;
    color: #fff;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Controles */
.controls {
    margin-top: 20px;
}

.controls button {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 8px 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    font-size: 12px;
}

.controls button:hover {
    background-color: #0055ff;
    transform: scale(1.05);
}

/* Container de Iframes */
.iframes-container {
    width: 85%; /* Ajuste para o restante da tela */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-template-rows: repeat(3, 1fr); /* 3 linhas */
    grid-gap: 20px;
    padding: 20px;
}

/* Estilo dos iframes */
.iframe-wrapper {
    position: relative;
    text-align: center;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 250px;
    border: 2px solid #00f;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.5s;
    cursor: pointer;
    transform: scale(0.8); /* Reduz o tamanho do conteúdo */
    transform-origin: top left; /* Mantém a origem no topo à esquerda */
    pointer-events: none; /* Desativa a interação por padrão */
}

iframe.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    border: none;
    background: #fff;
    transform: scale(1); /* Restaura para o tamanho original ao expandir */
    transform-origin: center; /* Ajusta para centralizar */
    pointer-events: auto; /* Ativa a interação ao expandir */
}